[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "lib/harfbuzz"]
	path = lib/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "lib/juce"]
	path = lib/juce
	url = https://github.com/juce-framework/JUCE.git
[submodule "lib/pugixml"]
	path = lib/pugixml
	url = https://github.com/zeux/pugixml
[submodule "lib/doctest"]
	path = lib/doctest
	url = https://github.com/doctest/doctest.git
