[submodule "lib/juce"]
	path = lib/juce
	url = https://github.com/juce-framework/JUCE.git
[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "lib/harfbuzz"]
	path = lib/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
